@charset "UTF-8";
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-row-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.flex-row-between-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.flex-row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 500px) {
    .flex-row-between {
      justify-content: center; } }

.coluna-flex-15 {
  width: 15%; }
  @media screen and (max-width: 800px) {
    .coluna-flex-15 {
      width: 60%;
      margin-bottom: 40px; } }

.coluna-flex-30 {
  width: 30%;
  margin-bottom: 20px; }
  @media screen and (max-width: 800px) {
    .coluna-flex-30 {
      width: 40%;
      margin-bottom: 40px; } }
  @media screen and (max-width: 500px) {
    .coluna-flex-30 {
      width: 90%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dmSans"; }

body {
  overflow-x: hidden; }

.secao-quem-somos-index, .secao-servicos, .chamada-ultimos-artigos, .footer-principal {
  padding: 40px 0; }

.secao-servicos .coluna-servico img {
  margin: 10px 0; }

.chamada-ultimos-artigos .coluna-artigo img {
  margin: 15px 0; }

.contexto {
  width: 90%;
  margin: 0 auto; }

p {
  line-height: 25px;
  text-align: justify;
  color: #2b0e01; }

@font-face {
  src: url(../fonts/Muli/static/Muli-Regular.ttf);
  font-family: "muli"; }
@font-face {
  src: url(../fonts/DMSans/DMSans-Regular.ttf);
  font-family: "dmSans"; }
.logo-index {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.356);
  padding: 170px 0;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .logo-index {
      height: 40vh; } }
  @media screen and (max-width: 800px) {
    .logo-index {
      height: 70vh; } }
  .logo-index img {
    max-width: 700px;
    width: 40%; }
    @media screen and (max-width: 800px) {
      .logo-index img {
        width: 80%; } }

.logo {
  text-align: center;
  padding: 130px 0 50px;
  width: 100%; }
  .logo img {
    width: 60%;
    max-width: 400px; }
    @media screen and (max-width: 800px) {
      .logo img {
        width: 80%; } }

.botao, .botao-2, .botao-3 {
  padding: 10px 3%;
  margin: 20px 0; }

.botao-3 {
  padding: 10px 3%;
  margin: 10px 0; }

.botao, .botao-2, .botao-3 {
  display: block;
  min-width: fit-content;
  height: 40px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(78, 131, 138, 0.911), rgba(47, 94, 100, 0.911));
  color: #fff;
  transition: background-image 1s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.botao:hover, .botao-3:hover {
  background-image: linear-gradient(#ec7514e8, #f79d44e8);
  color: #292929; }

.botao-2:hover, .botao-form:hover {
  background-image: linear-gradient(#ecc2a0e8, #fac590e8);
  color: #292929; }

.botao {
  width: 30%; }

.botao-2 {
  width: 50%; }

.botao-3 {
  width: 30%; }

.botao-form {
  width: 20%;
  min-width: fit-content;
  margin: 30px auto;
  font-size: 20px;
  padding: 10px;
  background-image: linear-gradient(#ec7514e8, #f79d44e8); }

.titulo-primario, .titulo-secundario, .titulo-secundario--escuro {
  margin-bottom: 40px; }

.subtitulo-terciario, .subtitulo-terciario--claro {
  margin-bottom: 10px; }

.titulo-primario, .titulo-secundario, .titulo-secundario--escuro {
  text-align: center; }

.titulo-primario {
  font-size: 35px;
  color: #d1540c; }

.titulo-secundario {
  font-size: 25px;
  color: #f57118; }

.titulo-secundario--escuro {
  font-size: 25px;
  color: #8b3c07; }

.subtitulo-terciario {
  font-size: 20px;
  color: #e07a35; }

.subtitulo-terciario--claro {
  font-size: 20px;
  color: #dddddd; }

.bg-nav {
  background-color: #ef8518;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 2%; }

.menu {
  width: 70%;
  /*tablet */
  /*celular*/ }
  .menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 2%;
    text-transform: uppercase;
    font-family: "muli";
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: border-bottom 1s ease-out; }
    .menu a:hover {
      border-bottom: 3px solid rgba(78, 131, 138, 0.911); }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
      width: 100%;
      background-color: #ef8518;
      position: absolute;
      top: 100px;
      left: 0;
      text-align: center;
      padding: 30px 5%; }
      .menu a {
        display: block;
        padding: 5%; } }
  @media screen and (max-width: 500px) {
    .menu {
      padding: 20px 5%; }
      .menu a {
        display: block;
        padding: 15px 2%; } }

@media screen and (max-width: 800px) {
  .menu-responsivo {
    /* se n├úo tiver important ele n├úo aparece na tela */
    display: block !important; }
    .menu-responsivo__linha {
      width: 35px;
      height: 4px;
      margin-bottom: 5px;
      background-color: #ffffff;
      border-radius: 3px; }
      .menu-responsivo__linha:last-of-type {
        margin-bottom: 0; } }

.redes-sociais img {
  width: 40px; }

.banner {
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }
  @media screen and (max-width: 1100px) {
    .banner {
      background-attachment: initial;
      height: 40vh; } }
  @media screen and (max-width: 800px) {
    .banner {
      height: 70vh; } }

.secao-quem-somos-index {
  margin: 0 auto; }
  .secao-quem-somos-index p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: #722806; }
    @media screen and (max-width: 800px) {
      .secao-quem-somos-index p {
        width: 90%; } }

.secao-servicos {
  background-image: linear-gradient(#fdb173e8, #fad5b0e8); }
  .secao-servicos .coluna-servico {
    background-image: linear-gradient(#e06a1c, #eb520b);
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .secao-servicos .coluna-servico img {
      width: 30%;
      max-width: 40px; }

.chamada-ultimos-artigos .coluna-artigo img {
  width: 100%;
  height: 150px;
  max-width: 200px;
  -webkit-box-shadow: 1px 1px 2px 2px #3a3a3a;
  -moz-box-shadow: 1px 1px 2px 2px #3a3a3a;
  box-shadow: 1px 1px 2px 2px #3a3a3a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block; }

.filtros {
  width: 25%; }
  .filtros a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px 5%;
    background-color: #e06a1c;
    border: 1px solid rgba(204, 204, 204, 0.555);
    transition: background-color 1s linear;
    cursor: pointer; }
    .filtros a:hover {
      background-color: rgba(47, 94, 100, 0.911); }
    @media screen and (max-width: 500px) {
      .filtros a {
        display: inline-block;
        background-color: #ffffff;
        border: none;
        color: #e06a1c;
        padding: 0 1%;
        font-size: 14px;
        text-align: center; } }
  @media screen and (max-width: 500px) {
    .filtros {
      width: 100%;
      margin-bottom: 30px; } }

.conteudo {
  width: 70%;
  padding: 0 3% 40px; }
  .conteudo .indicador-categoria {
    width: fit-content;
    color: #494949e5;
    font-size: 18px;
    padding: 2px;
    border-bottom: 1px solid #494949e5;
    margin-bottom: 15px; }
  .conteudo .borda-colunas {
    border: 1px solid rgba(204, 204, 204, 0.555);
    padding: 4%; }
  .conteudo img {
    width: 100%;
    max-width: 200px; }

.footer-principal {
  background-color: #ef8518; }
  .footer-principal p {
    text-align: center;
    color: #fff; }

.input-text, input[type="radio"], textarea, .input-file {
  margin-bottom: 15px; }

.input-text {
  height: 30px;
  line-height: 30px;
  padding: 2%; }

form:first-of-type {
  padding: 110px 0; }

form {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  border-left: 1px solid rgba(141, 141, 141, 0.562);
  border-right: 1px solid rgba(141, 141, 141, 0.562); }

.input-text {
  width: 60%; }

textarea {
  width: 60%;
  height: 300px;
  resize: none;
  padding: 2%; }

.input-file {
  display: block;
  background-image: linear-gradient(#fdb173e8, #fad5b0e8);
  padding: 10px 5%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer; }

.coluna-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto; }
  .coluna-radio div {
    margin-right: 2%; }
    .coluna-radio div:last-of-type {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .coluna-radio div {
        margin: 5px 0; } }
  @media screen and (max-width: 500px) {
    .coluna-radio {
      flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
