.flex-col-center{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.flex-row-around{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
}

.flex-row-between-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}

.flex-row-between{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width:500px){
                justify-content: center;
        }

}

.coluna-flex-15{
        width: 15%;

        @media screen and (max-width: 800px){
                width: 60%;
                margin-bottom: 40px;  
        }
}

.coluna-flex-30{
        width: 30%;
        margin-bottom: 20px;

        @media screen and (max-width: 800px){
                width: 40%;
                margin-bottom: 40px;  
        }

        @media screen and (max-width: 500px){
                width: 90%;
               
        }
}