@font-face {
        src: url(../fonts/Muli/static/Muli-Regular.ttf);
        font-family: "muli";
}

@font-face {
        src: url(../fonts/DMSans/DMSans-Regular.ttf);
        font-family: "dmSans";
}