.artigo{

        margin-bottom: 40px;

        &-img{
                width: 20%;

        }

        &-descricao{
                height: 100px;
                overflow-y: hidden;
                padding: 2%;
        }

        &-data{
                font-style: italic;
        }
}

